/* J'ai placé une image en background qui s'applique sur tout le body */
body {
    background: url(../img/dandelion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}
/* J'ai importé une typographie en link dans la balise head, que j'ai appliqué ici sur le h1*/
h1 {
  font-family: 'Calligraffitti', cursive;
  color : white;
  font-size: 65px;
  text-align: center;
  padding-top: 6%;
}
/* J'ai mis en place un background-color opaque sur la nav-bar */
.nav-bar {
  background-color: white;
  opacity: 0.33;
  padding: 40px 0;
  padding-right: 35px;
}
/* J'ai aligné et espacé chaque items */
ul{
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
/* J'ai ajusté la taille de typo des items */
li a{
  color: black;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Calligraffitti', cursive;
  text-decoration: none; 
}
/* J'ai appliqué un hover sur les items */
li a:hover {
  color: gray;

}
/* J'ai centré mon footer */
footer{
  text-align: center;
  margin: 15% 0;
  padding-top: 10px;
}

